<form method="post" action="{{ path('app_ninea_proposition_delete', {'id': ninea_proposition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ninea_proposition.id) }}">
    <button class="btn">Delete</button>
</form>
