
        <div class="multisteps-form mt-5">
            <!--progress bar-->
            <div class="row">
            <div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                    <!--button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Identité entreprise</button-->
                    <button class="multisteps-form__progress-btn js-active" type="button" title="Person">Personne physique</button>
                    <button class="multisteps-form__progress-btn " type="button" title="Adresse">Coordonnées d'entreprise</button>
                    <button class="multisteps-form__progress-btn" type="button" title="Files leaks">Pièces jointes</button>
                </div>
            </div>
            </div>
            <!--form panels-->
            <div class="row">
                <div class="col-12 col-lg-12 m-auto">
                    {{ form_start(form, {'attr': {'class': "multisteps-form__form"}}) }}
                        <!--single form panel personne informations -->
                        <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                            <h3 class="multisteps-form__title"></h3>
                            <div class="multisteps-form__content">
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Civilité</label>
                                        {{ form_widget(form.ninPersonne.ninCivilite, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Sexe</label>
                                        {{ form_widget(form.ninPersonne.ninSexe, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Nom</label><br>
                                        {{ form_widget(form.ninPersonne.ninNom, {'attr': {'class': 'nom-input w-100'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>
                                
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Prénom</label>
                                        {{ form_widget(form.ninPersonne.ninPrenom, {'attr': {'class': 'prenom-input w-100 '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Date de naissance</label>
                                        {{ form_widget(form.ninPersonne.ninDatenaissance, {'attr': {'class': ' w-100 datenaiss-input '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Lieu de naissance</label>
                                        {{ form_widget(form.ninPersonne.ninLieunaissance, {'attr': {'class': 'lieunaiss-input w-100 '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>
                                
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Nationalité</label>
                                        {{ form_widget(form.ninPersonne.ninNationalite, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >CNI/Passeport</label>
                                        {{ form_widget(form.ninPersonne.ninCni, {'attr': {'class': 'cni-input w-100 '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Date de délivrance</label>
                                        {{ form_widget(form.ninPersonne.ninDatecni, {'attr': {'class': ' w-100 datecni-input '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>

                                
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Téléphone</label>
                                        {{ form_widget(form.ninPersonne.ninTelephone, {'attr': {'class': 'telephone-input w-100 '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Email</label>
                                        {{ form_widget(form.ninPersonne.ninEmail, {'attr': {'class': 'mail-input w-100 '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Adresse</label>
                                        {{ form_widget(form.ninPersonne.ninAdresse, {'attr': {'class': 'adr-input w-100'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>

                                
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Type voie</label>
                                        {{ form_widget(form.ninPersonne.ninTypevoie, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Numéro voie</label>
                                        {{ form_widget(form.ninPersonne.ninNumerovoie, {'attr': {'class': 'numvoie-input  w-100'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Voie</label><br>
                                        {{ form_widget(form.ninPersonne.ninVoie, {'attr': {'class': 'voie-input w-100'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Région</label>
                                        {{ form_widget(form.ninRegion, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Département</label>
                                        {{ form_widget(form.ninDepartement, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Commune</label>
                                        {{ form_widget(form.ninCommune, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>

                                
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >Commune/Ville/Arr.</label>
                                        {{ form_widget(form.ninCacr, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control'}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <label class="small text-muted" >QVH</label>
                                        {{ form_widget(form.ninPersonne.ninQVH, {'attr': {'class': 'multisteps-form__input form-select form-select-sm select2 form-control '}}) }}
                                        <!--input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/-->
                                    </div>
                                </div>

                                
                                <div class="button-row d-flex mt-4">
                                    <!--button class="btn btn-primary js-btn-prev rounded" type="button" title="Prev">Prev</button-->
                                    <button class="btn btn-primary ml-auto js-btn-next rounded  etape2" type="button" title="Next">Next</button>
                                </div>
                            </div>
                        </div>
                        
                        <!--single form panel coordonnees enterprise -->
                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                            <h3 class="multisteps-form__title"></h3>
                            <div class="multisteps-form__content adresseEtbs">
                                        <button id="addTags" type="button" class="btn btn-primary ml-auto add_item_link rounded" data-collection-holder-class="ninCoordonnees" hidden>Add a adresse</button>
                                        
                                        {# the data-index attribute is required for the JavaScript code below #}
                                        <!--div class="ninCoordonnees  col-12 col-sm-4"
                                            data-index="{#{ form.ninCoordonnees|length > 0 ? form.ninCoordonnees|last.vars.name + 1 : 0 }#}"
                                            data-prototype="{#{ form_widget(form.ninCoordonnees.vars.prototype)|e('html_attr') }#}"
                                        >
                                        </div-->

                                        <div class=" ninCoordonnees" 
                                             data-prototype="{{include('ninea_proposition/adresses.html.twig',{'form':form.ninCoordonnees.vars.prototype})|e }}" 
                                             data-index="{{ form.ninCoordonnees|length > 0 ? form.ninCoordonnees|last.vars.name + 1 : 0 }}"
                                        >                                        

                                                
                                            <!--textarea class="multisteps-form__textarea form-control" placeholder="Additional Comments and Requirements"></textarea-->
                                        </div>


                                <div class="row">
                                    <div class="button-row d-flex mt-4 col-12">
                                    <button class="btn btn-primary js-btn-prev rounded" type="button" title="Prev">Prev</button>
                                    <button class="btn btn-primary ml-auto js-btn-next rounded " type="button" title="Next">Next</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <!--single form panel for uplods files  pieces jointes -->
                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                            <h3 class="multisteps-form__title"></h3>
                            <div class="multisteps-form__content">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">CNI/Passeport</h5>
                                        <p class="card-text">Le passeport obligatoire pour les étrangers</p>
                                        {{ form_widget(form.brochurecni, {'attr' : {'style':'  width: 350px;
                                                                                               max-width: 100%;
                                                                                               color: #444;
                                                                                               padding: 5px;
                                                                                               background: #fff;
                                                                                               border-radius: 10px;
                                                                                               border: 1px solid #555;'}}) }}
                                    </div>
                                </div>
                                </div>
                                <div class="col-12 col-md-6 mt-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">RCCM</h5>
                                        <p class="card-text">Télécharger un document de crétation (RCCM, Bail, Decret...) </p>
                                        {{ form_widget(form.brochurerccm, {'attr' : {'style':'  width: 350px;
                                                                                                max-width: 100%;
                                                                                                color: #444;
                                                                                                padding: 5px;
                                                                                                background: #fff;
                                                                                                border-radius: 10px;
                                                                                                border: 1px solid #555;'}}) }}
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="button-row d-flex mt-4">
                                <button class="btn btn-primary js-btn-prev rounded" type="button" title="Prev">Prev</button>
                                <button class="btn btn-success ml-auto rounded" type="submit" title="Send">Send</button>
                            </div>

                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
