    <div class="form-row mt-4">
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Adresse établissement</label>
            {{ form_widget(form.ninAdresse1, {'attr': {'class': 'adretbs-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Mobile</label>
            {{ form_widget(form.ninTelephone1, {'attr': {'class': 'mobile-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Téléphone fixe</label>
            {{ form_widget(form.ninTelephone2, {'attr': {'class': 'fixe-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
    </div>
    
    <div class="form-row mt-4">
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Email entreprise</label>
            {{ form_widget(form.ninEmail, {'attr': {'class': 'mailen-input w-100  '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Boite postale</label>
            {{ form_widget(form.ninBp, {'attr': {'class': 'bp-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Site Web</label>
            {{ form_widget(form.ninUrl, {'attr': {'class': 'site-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
    </div>
    
    <div class="form-row mt-4">
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Type de voie </label></br>
            {{ form_widget(form.ninTypevoie, {'attr': {'class': ' adrtypevoie-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Voie</label><br>
            {{ form_widget(form.ninVoie, {'attr': {'class': 'adrvoie-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Numéro voie</label>
            {{ form_widget(form.ninNumerovoie, {'attr': {'class': 'adrnumvoie-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Région </label></br>
            {{ form_widget(form.adrRegion, {'attr': {'class': ' adrReg-input w-100  '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Département</label><br>
            {{ form_widget(form.adrDepartement, {'attr': {'class': 'adrvoie-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Commune</label>
            {{ form_widget(form.adrCommune, {'attr': {'class': 'adrnumvoie-input w-100 '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
    </div>

    
    <div class="form-row mt-4">
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Commune/Ville/Arr.</label><br>
            {{ form_widget(form.adrCacr, {'attr': {'class': ' adrcommune-input w-100  '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
        <div class="col-12 col-sm-4">
            <label class="small text-muted" for="basicpill-email-input">Quartier/Village/Hamaux</label><br>
            {{ form_widget(form.ninQvh, {'attr': {'class': ' adrqvh-input w-100  '}}) }}
            <!--input class="multisteps-form__input form-control form-control" type="text" placeholder="Address 1"/-->
        </div>
    </div>
