{% extends 'eninea_layout.html.twig' %}
{% block stylesheets %}
    
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
{% endblock %}

{% block body %}
    
    {# in src/MyCompany/MyBundle/Resources/views/Vehicle/createVehicle.html.twig #}
    <div>
        Steps:
        {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    </div>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% if flow.getCurrentStepNumber() == 1 %}
            <div>
                When selecting four wheels you have to choose the engine in the next step.<br />
                {{ form_row(form.ninSigle) }}
            </div>
        {% endif %}

        {{ form_rest(form) }}

        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    
{% endblock %}
