{% extends 'base.html.twig' %}

{% block title %}Edit NineaProposition{% endblock %}

{% block body %}
    <h1>Edit NineaProposition</h1>

    {{ include('ninea_proposition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ninea_proposition_index') }}">back to list</a>

    {{ include('ninea_proposition/_delete_form.html.twig') }}
{% endblock %}
