{% extends 'base.html.twig' %}

{% block title %}NineaProposition index{% endblock %}

{% block body %}
    <h1>NineaProposition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NinNinea</th>
                <th>NinSigle</th>
                <th>NinEnseigne</th>
                <th>NinNomcommercial</th>
                <th>NinEtat</th>
                <th>NinMajdate</th>
                <th>NinActiviteglobale</th>
                <th>NinNumerodocument</th>
                <th>NinDatedocument</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ninea_proposition in ninea_propositions %}
            <tr>
                <td>{{ ninea_proposition.id }}</td>
                <td>{{ ninea_proposition.ninNinea }}</td>
                <td>{{ ninea_proposition.ninSigle }}</td>
                <td>{{ ninea_proposition.ninEnseigne }}</td>
                <td>{{ ninea_proposition.ninNomcommercial }}</td>
                <td>{{ ninea_proposition.ninEtat ? 'Yes' : 'No' }}</td>
                <td>{{ ninea_proposition.ninMajdate ? ninea_proposition.ninMajdate|date('Y-m-d') : '' }}</td>
                <td>{{ ninea_proposition.ninActiviteglobale }}</td>
                <td>{{ ninea_proposition.ninNumerodocument }}</td>
                <td>{{ ninea_proposition.ninDatedocument ? ninea_proposition.ninDatedocument|date('Y-m-d') : '' }}</td>
                <td>{{ ninea_proposition.createdAt ? ninea_proposition.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ninea_proposition.updatedAt ? ninea_proposition.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_ninea_proposition_show', {'id': ninea_proposition.id}) }}">show</a>
                    <a href="{{ path('app_ninea_proposition_edit', {'id': ninea_proposition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ninea_proposition_new') }}">Create new</a>
{% endblock %}
