{% extends '_porto_layout.html.twig' %}

{% block title %}New NineaProposition{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('admin/dist/assets/css/liner/style.css')}}">
        <link href="{{ asset('admin/dist/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('admin/dist/assets/libs/@chenfengyuan/datepicker/datepicker.min.css')}}" rel="stylesheet">

        <link href="{{ asset('admin/dist/assets/libs/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/dist/assets/libs/spectrum-colorpicker2/spectrum.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('admin/dist/assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('admin/dist/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet" type="text/css" />

        <style>
        
            .adrvoie-input {
                

            }
        </style>
        

{% endblock %}

{% block body %}

        <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content rounded">
                {{ include('ninea_proposition/_form.html.twig') }}
            </div>
        </div>

    <!-- hero section start -->
    <!--section class="section hero-section bg-ico-hero" id="home"-->
    <section class="section section-no-background m-none" id="home">
            <div class="bg-overlay hero-section bg-ico-hero bg-info opacity-100  "></div>
            <div class="container">







            </div>
    </section>
{% endblock %}

{% block javascript %}
        <script src="{{ asset('admin/dist/assets/libs/select2/js/select2.min.js')}}"></script>
        <script  src="{{ asset('admin/dist/assets/js/liner/script.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/@chenfengyuan/datepicker/datepicker.min.js')}}"></script>


        <script src="{{ asset('admin/dist/assets/libs/spectrum-colorpicker2/spectrum.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>



        <!-- form advanced init -->
        <script src="{{ asset('admin/dist/assets/js/pages/form-advanced.init.js')}}"></script>


        <script>

        
                $(document).ready(function() {
                    var $country = $('#ninea_proposition_entete_step_ninRegion');
                    var $state = $('#ninea_proposition_entete_step_ninDepartement');

                    $country.change(function () {

                        var $form = $(this).closest('form');
                        var data = {};
                        data[$country.attr('name')] = $country.val();
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: data,
                            success: function (html) {
                                console.log($country.val()); return;
                                $('#ninea_proposition_entete_step_ninDepartement').replaceWith(
                                    $(html).find('#ninea_proposition_entete_step_ninDepartement')
                                );
                                // $('#registration_form_city').replaceWith(
                                //     $(html).find('#registration_form_city')
                                // );
                                $state = $('#ninea_proposition_entete_step_ninDepartement');
                                
                                
                                /*$state.change( function () {
                                var $form = $(this).closest('form');
                                var data = {};
                                data[$state.attr('name')] = $state.val();
                                $.ajax({
                                    url: $form.attr('action'),
                                    type: $form.attr('method'),
                                    data: data,
                                    success: function (html) {
                                        $('#registration_form_city').replaceWith(
                                            $(html).find('#registration_form_city')
                                        );
                                    }
                                });
                                });*/
                            }
                        });
                    });



                    $(".etape2").click(function (e) { 
                        //TODO ici on test si le btn a dejà ete clicke
                        console.log("clicker le btn");
                        //si il a ete click rien faire
                        $('#addTags').click();
                        
                        $(this).removeClass("etape2");

                        // sinon faire ce click ceci


                        
                    });

                    const addFormToCollection = (e) => {

                        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                        const item = document.createElement('div');

                        item.innerHTML = collectionHolder
                            .dataset
                            .prototype
                            .replace(
                            /__name__/g,
                            collectionHolder.dataset.index
                            );

                        collectionHolder.appendChild(item);

                        collectionHolder.dataset.index++;
                    }; 
                    
                    
                    document
                    .querySelectorAll('.add_item_link')
                    .forEach(btn => {
                        btn.addEventListener("click", addFormToCollection)
                    });



                    
                    $('.js-datepicker').datepicker({
                        format:'dd/MM/yyyy'
                    });

                    // ceci est à supprimer 
                    $('#ninDatedocumentID').datepicker({
                        format:'dd/MM/yyyy'
                    });




                });
        </script>
        

        <script>            
        /*
            
            $(".etape2").click(function (e) { 
                //TODO ici on test si le btn a dejà ete clicke
                console.log("clicker le btn");
                //si il a ete click rien faire
                $('#addTags').click(); 

                // sinon faire ce click ceci


                
            });

            const addFormToCollection = (e) => {

                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('div');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
            }; 
            
            
            document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

            var $sport = $('#ninea_proposition_entete_step_formeUnite');
            // When sport gets selected ...
            $sport.change(function() {
            
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[$sport.attr('name')] = $sport.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    

                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    complete: function(html) {
                        
                        // Replace current position field ...
                        $('#ninea_proposition_entete_step_formeJuridique').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html.responseText).find('#ninea_proposition_entete_step_formeJuridique')
                        );
                        // Position field now displays the appropriate positions.
                    }        
                });
            });

            $('.js-datepicker').datepicker({
                format:'dd/MM/yyyy'
            });

            // ceci est à supprimer 
            $('#ninDatedocumentID').datepicker({
                format:'dd/MM/yyyy'
            });
            */
        </script>




{% endblock %}
