{% extends 'base.html.twig' %}

{% block title %}NineaProposition{% endblock %}

{% block body %}
    <h1>NineaProposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ninea_proposition.id }}</td>
            </tr>
            <tr>
                <th>NinNinea</th>
                <td>{{ ninea_proposition.ninNinea }}</td>
            </tr>
            <tr>
                <th>NinSigle</th>
                <td>{{ ninea_proposition.ninSigle }}</td>
            </tr>
            <tr>
                <th>NinEnseigne</th>
                <td>{{ ninea_proposition.ninEnseigne }}</td>
            </tr>
            <tr>
                <th>NinNomcommercial</th>
                <td>{{ ninea_proposition.ninNomcommercial }}</td>
            </tr>
            <tr>
                <th>NinEtat</th>
                <td>{{ ninea_proposition.ninEtat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NinMajdate</th>
                <td>{{ ninea_proposition.ninMajdate ? ninea_proposition.ninMajdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NinActiviteglobale</th>
                <td>{{ ninea_proposition.ninActiviteglobale }}</td>
            </tr>
            <tr>
                <th>NinNumerodocument</th>
                <td>{{ ninea_proposition.ninNumerodocument }}</td>
            </tr>
            <tr>
                <th>NinDatedocument</th>
                <td>{{ ninea_proposition.ninDatedocument ? ninea_proposition.ninDatedocument|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ninea_proposition.createdAt ? ninea_proposition.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ ninea_proposition.updatedAt ? ninea_proposition.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ninea_proposition_index') }}">back to list</a>

    <a href="{{ path('app_ninea_proposition_edit', {'id': ninea_proposition.id}) }}">edit</a>

    {{ include('ninea_proposition/_delete_form.html.twig') }}
{% endblock %}
