<form method="post" action="{{ path('app_nin_coordonnees_delete', {'id': nin_coordonnee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nin_coordonnee.id) }}">
    <button class="btn">Delete</button>
</form>
