{% extends 'base.html.twig' %}

{% block title %}Edit NinCoordonnees{% endblock %}

{% block body %}
    <h1>Edit NinCoordonnees</h1>

    {{ include('nin_coordonnees/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nin_coordonnees_index') }}">back to list</a>

    {{ include('nin_coordonnees/_delete_form.html.twig') }}
{% endblock %}
