{% extends 'base.html.twig' %}

{% block title %}NinCoordonnees index{% endblock %}

{% block body %}
    <h1>NinCoordonnees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NinNumerovoie</th>
                <th>NinVoie</th>
                <th>NinAdresse1</th>
                <th>NinEmail</th>
                <th>NinTelephone1</th>
                <th>NinTelephone2</th>
                <th>NinBp</th>
                <th>NinUrl</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nin_coordonnee in nin_coordonnees %}
            <tr>
                <td>{{ nin_coordonnee.id }}</td>
                <td>{{ nin_coordonnee.ninNumerovoie }}</td>
                <td>{{ nin_coordonnee.ninVoie }}</td>
                <td>{{ nin_coordonnee.ninAdresse1 }}</td>
                <td>{{ nin_coordonnee.ninEmail }}</td>
                <td>{{ nin_coordonnee.ninTelephone1 }}</td>
                <td>{{ nin_coordonnee.ninTelephone2 }}</td>
                <td>{{ nin_coordonnee.ninBp }}</td>
                <td>{{ nin_coordonnee.ninUrl }}</td>
                <td>{{ nin_coordonnee.createdAt ? nin_coordonnee.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_nin_coordonnees_show', {'id': nin_coordonnee.id}) }}">show</a>
                    <a href="{{ path('app_nin_coordonnees_edit', {'id': nin_coordonnee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nin_coordonnees_new') }}">Create new</a>
{% endblock %}
