{% extends 'base.html.twig' %}

{% block title %}New NinCoordonnees{% endblock %}

{% block body %}
    <h1>Create new NinCoordonnees</h1>

    {{ include('nin_coordonnees/_form.html.twig') }}

    <a href="{{ path('app_nin_coordonnees_index') }}">back to list</a>
{% endblock %}
