{% extends 'base.html.twig' %}

{% block title %}NinCoordonnees{% endblock %}

{% block body %}
    <h1>NinCoordonnees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nin_coordonnee.id }}</td>
            </tr>
            <tr>
                <th>NinNumerovoie</th>
                <td>{{ nin_coordonnee.ninNumerovoie }}</td>
            </tr>
            <tr>
                <th>NinVoie</th>
                <td>{{ nin_coordonnee.ninVoie }}</td>
            </tr>
            <tr>
                <th>NinAdresse1</th>
                <td>{{ nin_coordonnee.ninAdresse1 }}</td>
            </tr>
            <tr>
                <th>NinEmail</th>
                <td>{{ nin_coordonnee.ninEmail }}</td>
            </tr>
            <tr>
                <th>NinTelephone1</th>
                <td>{{ nin_coordonnee.ninTelephone1 }}</td>
            </tr>
            <tr>
                <th>NinTelephone2</th>
                <td>{{ nin_coordonnee.ninTelephone2 }}</td>
            </tr>
            <tr>
                <th>NinBp</th>
                <td>{{ nin_coordonnee.ninBp }}</td>
            </tr>
            <tr>
                <th>NinUrl</th>
                <td>{{ nin_coordonnee.ninUrl }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ nin_coordonnee.createdAt ? nin_coordonnee.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nin_coordonnees_index') }}">back to list</a>

    <a href="{{ path('app_nin_coordonnees_edit', {'id': nin_coordonnee.id}) }}">edit</a>

    {{ include('nin_coordonnees/_delete_form.html.twig') }}
{% endblock %}
