{% extends 'eninea_layout.html.twig' %}


{% block stylesheets %}


    <!-- Plugins css -->
    <link href="{{ asset('admin/dist/assets/libs/dropzone/min/dropzone.min.css')}}" rel="stylesheet" type="text/css" />

    <style>
        .titre-sz h3 {
            font-size: 0.1em;
        }
        
    </style>
    
{% endblock %}

{% block body %}

        <!-- hero section start -->
        <section class="section hero-section bg-ico-hero" id="home">
            <div class="bg-overlay bg-info opacity-25 "></div>
            <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Demande d'immatriculation</h4>

                                        <div id="basic-example">
                                            <!-- Seller Details -->
                                            <h3 class="titre-sz">Identification de l'entreprise</h3>
                                            <section>
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                                <label for="basicpill-firstname-input">Forme unité</label>
                                                                <div class="mb-3">
                                                                    <select class="form-control form-select form-select-sm" name="" id="">
                                                                        <option selected>Selectionner....</option>
                                                                        <option value="">Entreprise personne physique</option>
                                                                        <option value="">Autre personne physique imposable</option>
                                                                    </select>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="basicpill-firstname-input">Régime juridique</label>
                                                            <div class="mb-3">
                                                                    <select class="form-control form-select form-select-sm" name="" id="">
                                                                    </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="basicpill-phoneno-input">Nom commercial</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-phoneno-input" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="basicpill-email-input">Enseigne</label>
                                                                <input type="email" class="form-control form-control-sm" id="basicpill-email-input" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="basicpill-email-input">Sigle</label>
                                                                <input type="email" class="form-control form-control-sm" id="basicpill-email-input" >
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label for="basicpill-phoneno-input">Type document</label>
                                                            <div class="mb-3">
                                                                    <select class="form-control form-select form-select-sm" name="" id="">
                                                                        <option selected>Selectionner....</option>
                                                                        <option value="">Régistre de commerce</option>
                                                                        <option value="">Titre foncier</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="basicpill-email-input">Numéro document</label>
                                                            <div class="mb-3">
                                                                <input type="email" class="form-control form-control-sm" id="basicpill-email-input">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="basicpill-email-input">Date du document</label>
                                                                <input type="date" class="form-control form-control-sm" id="basicpill-email-input">
                                                            </div>
                                                        </div>
                                                    </div>


                                                </form>
                                            </section>

                                            <!-- Company Document -->
                                            <h3 class="titre-sz">Personne morale</h3>
                                            <section>
                                                <form>



                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-address-input">Raison sociale</label>
                                                                    <textarea id="basicpill-address-input" class="form-control" rows="2" ></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">

                                                                <div class="mb-3">
                                                                    <label for="basicpill-pancard-input">Sigle</label>
                                                                    <input type="text" class="form-control form-control-sm" id="basicpill-pancard-input" >
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </form>
                                            </section>

                                            <!-- Bank Details -->
                                            <h3 class="titre-sz">Coordonées de l'entreprise</h3>
                                            <section>
                                                <div>
                                                    <form>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-declaration-input">Adresse établissment</label>
                                                                    <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-companyuin-input">Téléphone portable</label>
                                                                    <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-companyuin-input">Téléphone fixe</label>
                                                                    <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-declaration-input">Email</label>
                                                                    <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                                </div>
                                                            </div>
                                                        </div>


                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-companyuin-input">Type voie</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">Voie</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">Numéro voie</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">Région</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-companyuin-input">Département</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">Commune/Ville/Arr</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">CACR</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="basicpill-declaration-input">QVH</label>
                                                                <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </form>
                                                  </div>
                                            </section>

                                            <!-- Confirm Details -->
                                            <h3 class="titre-sz" style="font-size: 0.4em;">Activités et produits</h3>
                                            <section>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="basicpill-address-input">Activités exercées</label>
                                                            <textarea id="basicpill-address-input" class="form-control" rows="2" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="">
                                                            <div class="">
                                                                <!--h4 class="card-title mb-4">Example</h4-->
                                                                <form class="repeater" enctype="multipart/form-data">
                                                                    <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Ajouter activité"/>
                                                                    <div data-repeater-list="group-a">
                                                                        <div data-repeater-item class="row">
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="name">Libellé</label>
                                                                                <input type="text" id="name" name="untyped-input" class="form-control" />
                                                                            </div>
                                
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="email">NAEMA</label>
                                                                                <input type="email" id="email" class="form-control" />
                                                                            </div>
                                
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="subject">Produit</label>
                                                                                <input type="text" id="subject" class="form-control" />
                                                                            </div>
                                
                                                                            
                                                                            <div class="col-lg-3 align-self-center">
                                                                                <div class="d-grid">
                                                                                    <input data-repeater-delete type="button" class="btn btn-primary" value="Supprimer"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </section>

                                            <!-- Confirm Details -->
                                            <h3 class="titre-sz">Autres informations</h3>
                                            <section>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-companyuin-input">Source de financement</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Nature </label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Modalité d'exploitation</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                </div>                                            

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Chiffre d'affaire</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-companyuin-input">Année chiffre d'affaire</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-companyuin-input">Capital</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                        </div>
                                                    </div>
                                                    
                                                </div>   


                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-companyuin-input">Effectif permanant</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-companyuin-input" >
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Effectif permanant féminin</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Effectif temporaire</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label for="basicpill-declaration-input">Effectif temporaire féminin</label>
                                                            <input type="text" class="form-control form-control-sm" id="basicpill-Declaration-input" >
                                                        </div>
                                                    </div>
                                                </div> 

                                            </section>



                                            <!-- Dirigeants Details -->
                                            <h3 class="titre-sz" style="font-size: 0.4em;">Dirigeants et associés</h3>
                                            <section>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="">
                                                            <div class="">
                                                                <!--h4 class="card-title mb-4">Example</h4-->
                                                                <form class="repeater" enctype="multipart/form-data">
                                                                    <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Ajouter dirigeant"/>
                                                                    <div data-repeater-list="group-a">
                                                                        <div data-repeater-item class="row mt-2">
                                                                            <br>
                                                                            <hr class="bg-primary">
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="name">Nom</label>
                                                                                <input type="text" id="name" name="untyped-input" class="form-control form-control-sm" />
                                                                            </div>
                                
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="email">Prénom</label>
                                                                                <input type="email" id="email" class="form-control form-control-sm" />
                                                                            </div>
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="email">Date naissance</label>
                                                                                <input type="date" id="email" class="form-control form-control-sm" />
                                                                            </div>

                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="email">Lieu de naissance</label>
                                                                                <input type="text" id="email" class="form-control form-control-sm" />
                                                                            </div>

                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="email">Nationalité</label>
                                                                                <input type="text" id="email" class="form-control form-control-sm" />
                                                                            </div>
                                
                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="subject">Position</label>
                                                                                <input type="text" id="subject" class="form-control form-control-sm" />
                                                                            </div>

                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="subject">CNI</label>
                                                                                <input type="text" id="subject" class="form-control form-control-sm" />
                                                                            </div>

                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="subject">Date CNI</label>
                                                                                <input type="date" id="subject" class="form-control form-control-sm" />
                                                                            </div>

                                                                            <div  class="mb-3 col-lg-3">
                                                                                <label for="subject">Téléphone</label>
                                                                                <input type="text" id="subject" class="form-control form-control-sm" />
                                                                            </div>
                                
                                                                            
                                                                            <div class="col-lg-3 align-self-center">
                                                                                <div class="d-grid">
                                                                                    <input data-repeater-delete type="button" class="btn btn-primary" value="Supprimer"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </section>                                            


                                            <!-- Confirm Details -->
                                            <h3 class="titre-sz">Pièces justificatifs</h3>
                                            <section>



                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <div class="">
                                                            <div class="">

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                            
                                                                        <div class="mt-3">
                                                                            <label for="formFile" class="form-label">Régistre de commerce</label>
                                                                            <input class="form-control form-control-sm" type="file" id="formFile">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="mt-3">
                                                                            <div>
                                                                                <label for="formFileSm" class="form-label">Pièce d'identité</label>
                                                                                <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- end row -->


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- end row -->

                                            
                                            </section>

                                        </div>

                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->


            </div>
        </section>

    
{% endblock %}

{% block javascript %}

    <!-- jquery step -->
    <script src="{{ asset('admin/dist/assets/libs/jquery-steps/build/jquery.steps.min.js')}}"></script>

    <!-- form wizard init -->
    <script src="{{ asset('admin/dist/assets/js/pages/form-wizard.init.js')}}"></script>


        <!-- form repeater js -->
    <script src="{{ asset('admin/dist/assets/libs/jquery.repeater/jquery.repeater.min.js')}}"></script>

    <script src="{{ asset('admin/dist/assets/js/pages/form-repeater.int.js')}}"></script>

        <!-- Plugins js -->
    <script src="{{ asset('admin/dist/assets/libs/dropzone/min/dropzone.min.js')}}"></script>




    
{% endblock %}
   
        
