{% extends '_porto_layout.html.twig' %}


{% block stylesheets %}
    
{% endblock %}

{% block body %}

        <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content rounded">

                <h4 class="heading-primary text-uppercase mb-md">
                    Déposer une demande d'immatriculation au <strong>NINEA</strong> en quelques cliques                
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <section class="call-to-action with-borders rounded button-centered mb-xl">
                            <div class="call-to-action-content">
                                <h5>Tu es une personne physique ayant la <strong>majorité légale</strong> et résidant au Sénégal, détentrice d'un <strong> registre de commerce</strong>.</h5>
                            </div>
                            <div class="call-to-action-btn">
                                <a href="{{path('app_ninea_proposition_new')}}" class="btn btn-lg btn-primary rounded">Personne physique</a>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="call-to-action with-borders rounded call-to-action-primary button-centered mb-xl">
                            <div class="call-to-action-content">
                                <h5>Tu es une personne exerçant une <strong>acivité</strong>, tu peux s'associer à d'autres personnes en constituant une <strong>société</strong> </h5>
                            </div>
                            <div class="call-to-action-btn">
                                <a href="{{path('app_ninea_pmorale')}}"  class="btn btn-lg btn-default rounded">Personne morale</a>
                            </div>
                        </section>
                    </div>
                </div>

                <hr class="tall">
            </div>
        </div>        
    
{% endblock %}

{% block javascript %}
    
{% endblock %}
   
        
