{% extends 'eninea_layout.html.twig' %}
{% block stylesheets %}

    <!-- DataTables -->
    <link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>

    <!-- Plugins css -->
    <link href="{{ asset('admin/dist/assets/libs/dropzone/min/dropzone.min.css')}}" rel="stylesheet" type="text/css" />

    <style>

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
      }
      
      .ui-autocomplete > li > div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
      }
      
      .ui-state-hover,
      .ui-state-active,
      .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
      }
      
      .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table.dataTable td {
        font-size: 0.6em;
      }

      table.dataTable tr.dtrg-level-0 td {
        font-size: 0.6em;
      }



    </style>


{% endblock %}

{% block body %}
        <section class="section  hero-section bg-ico-hero " id="home">
            <div class="bg-overlay bg-info opacity-25   ">
            </div>
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-lg-12">

                                <div class="text-white-12 text-center">
                                    <h2 class="text-white fw-semibold mb-3 text-12">Toutes les procédures</h2>
                                    <p class="font-size-20"> <br></p>
                                </div>

                    </div>
                </div>

                <div class="row align-items-center ">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        
                                        <div class="table-responsive">
                                            <table class="table table-hover table-sm m-0">
                                                <thead>
                                                    <tr>
                                                        <th>Numéro dossier</th>
                                                        <th>Document de création</th>
                                                        <th>Dénomination</th>
                                                        <th>Régime juridique</th>
                                                        <th>Statut</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">16330099</th>
                                                        <td>SN DKR 2006 A 093</td>
                                                        <td>Aheva Inc</td>
                                                        <td>Entreprise individuelle</td>
                                                        <td><span class="badge bg-success">valide</span></td>
                                                        <td>{{ 'now'|date('Y-m-d') }}</td>
                                                        <td>
                                                            <a type="button" data-bs-toggle="modal" data-bs-target="#verificationModal" href="#" class="btn btn-outline-primary btn-sm" >
                                                                <i class="fas fa-print "></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
        
                                        </div>


                                        <!-- Modal -->
                                        <div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Veuillez vous acquitter des droits de timbre  avant de pouvoir télécharger votre avis ! </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div id="kyc-verify-wizard">
                                                            <!-- Personal Info -->
                                                            <h3>Information personnelle</h3>
                                                            <section>
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="kycfirstname-input" class="form-label">Prénom</label>
                                                                                <input type="text" class="form-control" id="kycfirstname-input" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="kyclastname-input" class="form-label">Nom</label>
                                                                                <input type="text" class="form-control" id="kyclastname-input" >
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="kycphoneno-input" class="form-label">Téléphone</label>
                                                                                <input type="text" class="form-control" id="kycphoneno-input" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="kycbirthdate-input" class="form-label">Date de naissance</label>
                                                                                <input type="date" class="form-control" id="kycbirthdate-input" >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label for="kycselectcity-input" class="form-label">Ville</label>
                                                                                <select class="form-select" id="kycselectcity-input">
                                                                                    <option value="SF" selected>Dakar</option>
                                                                                    <option value="LA">Mbour</option>
                                                                                    <option value="SD">Kaolack</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </section>
                
                                                            <!-- Confirm email -->
                                                            <h3>Carte de crédit</h3>
                                                            <section>
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-pancard-input">Numéro carte</label>
                                                                                <input type="text" class="form-control" id="basicpill-pancard-input" >
                                                                            </div>
                                                                        </div>
                
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-vatno-input">Code secret</label>
                                                                                <input type="text" class="form-control" id="basicpill-vatno-input" >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-cstno-input">Mois d'expiration</label>
                                                                                <input type="text" class="form-control" id="basicpill-cstno-input" >
                                                                            </div>
                                                                        </div>
                
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-servicetax-input">Année d'expiration</label>
                                                                                <input type="text" class="form-control" id="basicpill-servicetax-input" >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-companyuin-input">Banque</label>
                                                                                <input type="text" class="form-control" id="basicpill-companyuin-input" >
                                                                            </div>
                                                                        </div>
                
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-3">
                                                                                <label for="basicpill-declaration-input">Declaration</label>
                                                                                <input type="text" class="form-control" id="basicpill-Declaration-input" >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </section>
                
                                                            <!-- Document Verification -->
                                                            <h3>Document Verification</h3>
                                                            <section>
                                                                <div>
                                                                    <h5 class="font-size-14 mb-3">Upload la pièce d'identité </h5>
                                                                    <div class="kyc-doc-verification mb-3">
                                                                        <form action="#" class="dropzone">
                                                                            <div class="fallback">
                                                                                <input name="file" type="file" multiple="multiple">
                                                                            </div>
                                                                            <div class="dz-message needsclick">
                                                                                <div class="mb-3">
                                                                                    <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                                                                </div>
                                                                                
                                                                                <h4>Gliser déposer la pièce d'identité ici.</h4>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </section>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
        
                                    </div>
                                </div>
                            </div>




                        <!--div class="col-lg-12">
                            <div class="">
                                <div class="table-responsive">
                                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 100px">Numéro dossier</th>
                                                <th scope="col">Document de création</th>
                                                <th scope="col">Dénomination</th>
                                                <th scope="col">Régime juridique</th>
                                                <th scope="col">Statut</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>1360999</td>
                                                <td>
                                                    <h5 class="text-truncate font-size-14"><a href="javascript: void(0);" class="text-dark">SN DKR 2006 A 093</a></h5>
                                                </td>
                                                <td>aheva Inc</td>
                                                <td>Entreprise individuelle</td>
                                                <td>
                                                    <span class="badge bg-success">valide</span>
                                                </td>
                                                <td>{{ 'now'|date('Y-m-d') }}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div-->

                       <!-- end row -->

                </div>
            </div>
        </section>


            <!--div class="tab-pane box active table-responsive-lg" id="list" style="overflow-x:auto;">

                <div class="card ">
                    <div class="card-body">

                        <div class="tab-pane box active table-responsive-lg" id="list" style="overflow-x:auto;">

                            <table cellpadding="0" cellspacing="0" border="0"  class=" ninea table table-striped table-bordered dt-responsive table-striped table-hover  ">
                                <thead class="tr_entete" >
                                    <tr>
                                        
                                        <th>Numéro demande</th>
                                        <th>Document de création</th>
                                        <th>Dénomination</th>
                                        <th>Régime juridique</th>                          
                                        <th>Statut</th>
                                        <th>Date </th>
                                        <th>Action</th> 
                                    </tr>
                                </thead>

                                <tbody>
                                            <tr>
                                            
                                                <td></td>
                                                <td style=" word-break: break-all;">
                                                    
                                                </td>
                                                                                
                                            
                                                <td style=" word-break: break-all;">
                                                                                            
                                                </td>

                                                <td> 
                                                    
                                                </td>

                                                <td>
                                                                                            
                                                </td>


                                                <td>
                                                    {{ 'now'|date('d-m-Y', 'Europe/Paris') }}                                         
                                                </td>

                                                <td>
                                                    {#% set paramValue = app.request.attributes.get('id') %#} 
                                                    <a type="bouton" href="#" data-param="" data-id="" title="show enterprise details "  class="btn btn-outline-info opacity-50 btn-sm edit" id="consultation" >
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                
                                                </td>
                                                                                
                                            </tr>
            
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div-->
        <!-- hero section start -->


{% endblock %}

{% block javascript %}

    <!-- jquery step -->
    <script src="{{ asset('admin/dist/assets/libs/jquery-steps/build/jquery.steps.min.js')}}"></script>


    <!-- dropzone js -->
    <script src="{{ asset('admin/dist/assets/libs/dropzone/min/dropzone.min.js')}}"></script>

    <!-- init js -->
    <script src="{{ asset('admin/dist/assets/js/pages/crypto-kyc-app.init.js')}}"></script>


    <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

    <script src="{{ asset( 'admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}} "></script><!-- Sweet alert init js-->
    <script src="{{ asset( 'admin/dist/assets/js/pages/sweet-alerts.init.js')}} "></script>
        
        <!-- App js -->

    <script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery.ui.autocomplete.scroll.min.js')}}"></script>

    <script type="text/javascript">


        /*function ficheEnterprise() { 
            // ici on met le detail de la fiche entreprise un tableau inside modal


            let Urlrte = "";

            var links = document.getElementsByClassName('edit');
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                var paramValue = link.getAttribute('data-param');
                
            }


            let Urlroute = "{{ path('app_detail') }}" + "/" + paramValue;

            console.log(Urlroute); return false;
            
            $.ajax({
                type: "GET",
                url: Urlroute,
                data: {
                    "course": $("#course").val(),
                    "semester": $("#sem").val(),
                    "year": $("#year").val(),
                },
                success: function(data) {
                    $("#display_table").html(data);
                }
            });
        }*/



        
        
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function ( a ) {
                if (a == null || a == "") {
                    return 0;
                }
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },
        
            "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
        
            "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }

        });

        $(".ninea").DataTable({
        
            "pageLength": 6,

            "order": [4, "asc" ],
            "columnDefs": [
            
                { type: 'date-uk', targets: 4 },
                { 
                    "targets": 0,
                    "sType": "string",
                }
            ],


            "sDom": 'f<"top">tip',
            "language": {

                "processing": "Traitement en cours...",

                "width": "100%",

                "lengthMenu": "Afficher _MENU_ ",

                "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

                "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

                "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

                "infoPostFix": "",

                "loadingRecords": "Chargement en cours...",

                "zeroRecords": "Rien &agrave; afficher",

                "emptyTable": "Aucune donnée disponible dans le tableau",

                "paginate": {

                    first: "Premier",

                    previous: "Pr&eacute;c&eacute;dent",

                    next: "Suivant",

                    last: "Dernier"

                },

            }
        });

    </script>
{% endblock %}