{% extends '_porto_layout.html.twig' %}

{% block stylesheets %}
    		<!-- Demo CSS -->
		<!--link rel="stylesheet" href="{#{ asset('porto/css/demos/demo-law-office.css')}#} "-->
{% endblock %}
{% block body %}




    <div class="featured-box featured-box-primary align-left mt-xlg">
        <div class="box-content rounded">
            <h4 class="heading-primary text-uppercase mb-md">E-NINEA - est le service en ligne qui fournit le NINEA.</h4>
            <div class="text-white-50">
                <p class="font-size-24">Grâce à E-NINEA, créer l'immatriculation devient <br>
                <span class="badge bg-info text-white text-font-size-24"> <i class="bx bxs-hand-right"></i> Simple</strong> - <i class="bx bxs-hand-right"></i> Sûr <i class="bx bxs-hand-right"></i>-  Rapide <i class="bx bxs-hand-right"></i>-  Économique</p>
                
                <div class="d-flex flex-wrap gap-2 mt-4 ">
                    <a href="{{path('app_ninea_proc')}}" class="btn btn-borders btn-primary btn-lg rounded ">Je démarre une procédure</a>&nbsp;&nbsp;
                    <a href="{{path('app_detail')}}" class="btn btn-3d btn-primary btn-lg rounded">Rechercher une entreprise</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}