<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Agence nationale de la Statistique et de la Démographie 4.8.0</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ asset('porto/img/favicon.ico')}}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ asset('porto/img/apple-touch-icon.png')}}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">


		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{ asset('porto/vendor/bootstrap/css/bootstrap.min.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/font-awesome/css/font-awesome.min.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/simple-line-icons/css/simple-line-icons.min.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/owl.carousel/assets/owl.carousel.min.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/owl.carousel/assets/owl.theme.default.min.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/magnific-popup/magnific-popup.min.css')}} ">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{ asset('porto/css/theme.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/css/theme-elements.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/css/theme-blog.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/css/theme-shop.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/css/theme-animate.css')}} ">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{{ asset('porto/vendor/rs-plugin/css/settings.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/rs-plugin/css/layers.css')}} ">
		<link rel="stylesheet" href="{{ asset('porto/vendor/rs-plugin/css/navigation.css')}} ">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{ asset('porto/css/skins/skin-corporate-3.css')}} ">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{ asset('porto/css/custom.css')}} ">

		<!-- Head Libs -->
		<script src="{{ asset('porto/vendor/modernizr/modernizr.min.js')}} "></script>

        {% block stylesheets %}
            
        {% endblock %}

	</head>
	<body>

		<div class="body">
			<header id="header" class="header-no-border-bottom" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 148, "stickySetTop": "-148px", "stickyChangeLogo": false}'>
				<div class="header-body">
					<div class="header-top header-top-style-2">
						<div class="container">
							<p class="pull-left hidden-xs">
								<!--The #1 Selling HTML Site Template on ThemeForest.-->
								Plateforme e-service d'immatriculation au <strong>NINEA</strong>
							</p>
							<p class="pull-right">
								<i class="fa fa-map-marker"></i> Rocade Fann Bel-air Cerf-volant. BP 116 Dakar RP, Dakar
							</p>
						</div>
					</div>
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-logo">
									<a href="index.html">
										<!--img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="{{ asset('porto/img/logo.png')}}"-->
										<img alt="Porto" width="" height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="{{ asset('admin/dist/assets/images/logos/logo.png')}}">
									</a>
								</div>
							</div>
							<div class="header-column">
								<ul class="header-extra-info hidden-xs">
									<li>
										<div class="feature-box feature-box-style-3">
											<div class="feature-box-icon">
												<i class="fa fa-phone"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="mb-none">(800) 123-4567</h4>
												<p><small>Get in touch with us</small></p>
											</div>
										</div>
									</li>
									<li>
										<div class="feature-box feature-box-style-3">
											<div class="feature-box-icon">
												<i class="fa fa-envelope"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="mb-none">mail@example.com</h4>
												<p><small>Send us an e-mail</small></p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="header-container header-nav header-nav-bar header-nav-bar-primary">
						<div class="container">
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
								<i class="fa fa-bars"></i>
							</button>
							<div class="header-nav-main header-nav-main-light header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
								<nav>
									<ul class="nav nav-pills" id="mainNav">
										<li class="">
											<a href="{{path('ninea_connect')}}" style="font-size: 30px;">
												<i class="fa fa-home"></i>
											</a>
										</li>
										<li class="">
											<a href="{{path('app_detail')}}">
												Consulter dossier entreprise
											</a>
										</li>
										<li class="">
											<a href="{{path('app_ninea_proc')}}">
												Obtenir un <strong>NINEA</strong>
											</a>
										</li>
										<!--li class="dropdown">
											<a class="dropdown-toggle" href="#">
												Modifier
											</a>
											<ul class="dropdown-menu">
												<li><a href="contact-us.html">Prise en charge des erreurs</a></li>
												<li><a href="contact-us-advanced.php">Mise à jour</a></li>
											</ul>
										</li-->
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">

                <div class="container">

							<div class="featured-boxes">
							<div class="row pt-xl">
								<div class="col-md-9">
									{% block body %}
									{% endblock %}
								</div>


								<div class="col-md-3">

									
									<div class="card align-left mt-xlg">
										<div class="card-content rounded">
											<div class="header-search hidden-xs">

												{{ render(controller(
													'App\\Controller\\SearchAnnuaireController::index',
												)) }} 
											
												{#{ form_start(form_search) }}
												<!--form id="searchForm" action="page-search-results.html" method="get"-->
													<div class="input-group">

															{{form_widget(form_search.query, {'id': 'query', class:"form-control TXT"})}}                                            
														<!--input type="text" class="form-control" name="q" id="q" placeholder="Recherche NINEA" required-->
														<span class="input-group-btn">
															{{ form_widget(form_search.submit, { 'label': 'Rechercher', 'id':'rechercheID' }) }}
															<!--button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button-->
														</span>
													</div>
												<!--/form-->
												{{ form_end(form_search) }#}
											</div>
										</div>
									</div>
									
									<div class="featured-box featured-box-primary align-left mt-xlg">


										<div class="box-content rounded">

											<h4 class="heading-primary text-uppercase mb-md">Connecter</h4>

											<form id="#" action="{{path('app_list_demande')}}" method="POST">
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Numéro dossier *</label>
															<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Code d'accès *</label>
															<input type="password" value="" data-msg-required="Please enter your password." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="passw" required>
														</div>
													</div>
												</div>


												<div class="row">
													<div class="col-md-12">
														<input type="submit" value="Connecter" class="btn btn-primary rounded" data-loading-text="#">

													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							</div>
                </div>

			</div>

			<footer class="short" id="footer">
				<div class="container">
					<div class="row">
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
									<!--img alt="Logo ANSD Website Template" class="img-responsive" src="{{ asset('porto/img/logo-footer.png')}}"-->
									<img alt="Logo ANSD Website Template" class="img-responsive" src="{{ asset('admin/dist/assets/images/logos/logo-footer.png')}}">
								</a>
							</div>
							<div class="col-md-11">
								<p>© Copyright <script>document.write(new Date().getFullYear())</script>. Agence nationale de la Statistique et de la Démographie.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>


            
        <!-- Vendor -->
        <script src="{{ asset('porto/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.appear/jquery.appear.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery-cookie/jquery-cookie.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/common/common.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.validation/jquery.validation.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.stellar/jquery.stellar.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.gmap/jquery.gmap.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/jquery.lazyload/jquery.lazyload.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/isotope/jquery.isotope.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/vide/vide.min.js')}}"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="{{ asset('porto/js/theme.js')}}"></script>
        
        <!-- Current Page Vendor and Views -->
        <script src="{{ asset('porto/vendor/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
        <script src="{{ asset('porto/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

        <!-- Current Page Vendor and Views -->
        <script src="{{ asset('porto/js/views/view.contact.js')}}"></script>
        
        <!-- Theme Custom -->
        <script src="{{ asset('porto/js/custom.js')}}"></script>
        
        <!-- Theme Initialization Files -->
        <script src="{{ asset('porto/js/theme.init.js')}}"></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>

        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
            ga('create', 'UA-12345678-1', 'auto');
            ga('send', 'pageview');
        </script>
        -->
        {% block javascript %}
        {% endblock %}


	</body>
</html>
