<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Agence Nationale de la Statistique et de la Démographie - Portail E-NINEA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <!--<link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}">-->

        <!-- owl.carousel css -->
        <link rel="stylesheet" href="{{ asset('admin/dist/assets/libs/owl.carousel/assets/owl.carousel.min.css')}}">

        <link rel="stylesheet" href="{{ asset('admin/dist/assets/libs/owl.carousel/assets/owl.theme.default.min.css')}}">

        <!-- Bootstrap Css -->
        <link href="{{ asset('admin/dist/assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset('admin/dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('admin/dist/assets/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />

        <link href="{{ asset('admin/dist/assets/libs/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
                
        {% endblock %}

    </head>

    <body data-bs-spy="scroll" data-bs-target="#topnav-menu" data-bs-offset="60">


        <div class="topnav">
            <div class="container-fluid">
                <!--nav class="navbar navbar-expand-lg navigation fixed-top sticky"-->
                <nav class="navbar navbar-light opacity-95 navbar-expand-lg navigation fixed-top sticky topnav-menu">
                    <div class="container">
                        <a class="navbar-logo" href="{{path('ninea_connect')}}">
                            <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="70" class="logo logo-light">
                            <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="70" class="logo logo-dark">
                        </a>

                        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>


                            <div class="justify-content-center collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link " href="{{path('app_detail')}}">Consulter dossier entreprise</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('app_ninea_proc')}}"><span>Obtenir un NINEA</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                        >
                                            <span key="t-dashboards">Modifier</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

                                            <a href="index.html" class="dropdown-item" key="t-default">Prise en charge des erreurs de saisie</a>
                                            <a href="dashboard-saas.html" class="dropdown-item" key="t-saas">Mise à jour</a>
                                            <a href="dashboard-crypto.html" class="dropdown-item" key="t-crypto">Radiation</a>
                                            <a href="dashboard-blog.html" class="dropdown-item" key="t-blog">Suspension</a>
                                            <a href="dashboard-blog.html" class="dropdown-item" key="t-blog">Réactivation</a>
                                        </div>
                                    </li>




                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                        >
                                            <span key="t-dashboards">Ressources supplémentaires</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

                                            <a href="index.html" class="dropdown-item" key="t-default">E-NINEA comment ça marche ?</a>
                                            <a href="dashboard-saas.html" class="dropdown-item" key="t-saas">Guide d'utilisation des formulaires</a>
                                            <a href="dashboard-crypto.html" class="dropdown-item" key="t-crypto">Les différentes formes juridiques</a>
                                            <a href="dashboard-blog.html" class="dropdown-item" key="t-blog"></a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        
                    
                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav ms-auto" id="topnav-menu" >
                                <li class="nav-item">
                                    <a class="nav-link" href="#faqs">FAQs</a>
                                </li>

                            </ul>

                            <div class="my-2 ms-lg-2">
                                <a href="#" class="btn btn-outline-primary w-xs">Connecter</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>




        {% block body %}
            <!--div class="main-content">

                <div class="page-content">
                    <div class="container-fluid"></div>
                </div>
            </div-->
        {% endblock %}
        <!-- Footer start -->
        <footer class="landing-footer">
            <div class="container">

                <!--div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-4 mb-lg-0">
                            <h5 class="mb-3 footer-list-title">Company</h5>
                            <ul class="list-unstyled footer-list-menu">
                                <li><a href="javascript: void(0);">About Us</a></li>
                                <li><a href="javascript: void(0);">Features</a></li>
                                <li><a href="javascript: void(0);">Team</a></li>
                                <li><a href="javascript: void(0);">News</a></li>
                                <li><a href="javascript: void(0);">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-4 mb-lg-0">
                            <h5 class="mb-3 footer-list-title">Resources</h5>
                            <ul class="list-unstyled footer-list-menu">
                                <li><a href="javascript: void(0);">Whitepaper</a></li>
                                <li><a href="javascript: void(0);">Token sales</a></li>
                                <li><a href="javascript: void(0);">Privacy Policy</a></li>
                                <li><a href="javascript: void(0);">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-4 mb-lg-0">
                            <h5 class="mb-3 footer-list-title">Links</h5>
                            <ul class="list-unstyled footer-list-menu">
                                <li><a href="javascript: void(0);">Tokens</a></li>
                                <li><a href="javascript: void(0);">Roadmap</a></li>
                                <li><a href="javascript: void(0);">FAQs</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-4 mb-lg-0">
                            <h5 class="mb-3 footer-list-title">Latest News</h5>
                            <div class="blog-post">
                                <a href="javascript: void(0);" class="post">
                                    <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                                    <h5 class="post-title">Donec pede justo aliquet nec</h5>
                                    <p class="mb-0"><i class="bx bx-calendar me-1"></i> 04 Mar, 2020</p>
                                </a>
                                <a href="javascript: void(0);" class="post">
                                    <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                                    <h5 class="post-title">In turpis, Pellentesque</h5>
                                    <p class="mb-0"><i class="bx bx-calendar me-1"></i> 12 Mar, 2020</p>
                                </a>

                            </div>
                        </div>
                    </div>
                </div-->
                <!-- end row -->

                <hr class="footer-border my-5">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <img src="{{ asset('admin/dist/assets/images/logos/logo.png')}}" alt="" height="20">
                        </div>
    
                        <p class="mb-2"><script>document.write(new Date().getFullYear())</script> © ANSD. Design & Develop by DSID</p>
                        <!--p>It will be as simple as occidental in fact, it will be to an english person, it will seem like simplified English, as a skeptical</p-->
                    </div>

                </div>
            </div>
            <!-- end container -->
        </footer>
        <!-- Footer end -->

        <!-- JAVASCRIPT -->
        <script src="{{ asset('admin/dist/assets/libs/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/metismenu/metisMenu.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/libs/node-waves/waves.min.js')}}"></script>

        <script src="{{ asset('admin/dist/assets/libs/jquery.easing/jquery.easing.min.js')}}"></script>

        <!-- Plugins js-->
        <script src="{{ asset('admin/dist/assets/libs/jquery-countdown/jquery.countdown.min.js')}}"></script>

        <!-- owl.carousel js -->
        <script src="{{ asset('admin/dist/assets/libs/owl.carousel/owl.carousel.min.js')}}"></script>

        <!-- ICO landing init -->
        <script src="{{ asset('admin/dist/assets/js/pages/ico-landing.init.js')}}"></script>

        {% block javascript %}
                
        {% endblock %}


        <script src="{{ asset('admin/dist/assets/js/app.js')}}"></script>

        <script src="{{ asset('admin/dist/assets/libs/select2/js/select2.min.js')}}"></script>
        <!-- form advanced init -->
        <script src="{{ asset('admin/dist/assets/js/pages/form-advanced.init.js')}}"></script>




    </body>
</html>