{% extends 'base.html.twig' %}

{% block title %}Edit NinPersonne{% endblock %}

{% block body %}
    <h1>Edit NinPersonne</h1>

    {{ include('nin_personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nin_personne_index') }}">back to list</a>

    {{ include('nin_personne/_delete_form.html.twig') }}
{% endblock %}
