{% extends 'base.html.twig' %}

{% block title %}NinPersonne index{% endblock %}

{% block body %}
    <h1>NinPersonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NinRaisonsociale</th>
                <th>NinSigle</th>
                <th>NinNom</th>
                <th>NinPrenom</th>
                <th>NinDatenaissance</th>
                <th>NinLieunaissance</th>
                <th>NinCni</th>
                <th>NinDatecni</th>
                <th>NinTelephone</th>
                <th>NinEmail</th>
                <th>NinAdresse</th>
                <th>NinVoie</th>
                <th>NinNumerovoie</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nin_personne in nin_personnes %}
            <tr>
                <td>{{ nin_personne.id }}</td>
                <td>{{ nin_personne.ninRaisonsociale }}</td>
                <td>{{ nin_personne.ninSigle }}</td>
                <td>{{ nin_personne.ninNom }}</td>
                <td>{{ nin_personne.ninPrenom }}</td>
                <td>{{ nin_personne.ninDatenaissance ? nin_personne.ninDatenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ nin_personne.ninLieunaissance }}</td>
                <td>{{ nin_personne.ninCni }}</td>
                <td>{{ nin_personne.ninDatecni ? nin_personne.ninDatecni|date('Y-m-d') : '' }}</td>
                <td>{{ nin_personne.ninTelephone }}</td>
                <td>{{ nin_personne.ninEmail }}</td>
                <td>{{ nin_personne.ninAdresse }}</td>
                <td>{{ nin_personne.ninVoie }}</td>
                <td>{{ nin_personne.ninNumerovoie }}</td>
                <td>{{ nin_personne.createdAt ? nin_personne.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_nin_personne_show', {'id': nin_personne.id}) }}">show</a>
                    <a href="{{ path('app_nin_personne_edit', {'id': nin_personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nin_personne_new') }}">Create new</a>
{% endblock %}
