{% extends 'base.html.twig' %}

{% block title %}New NinPersonne{% endblock %}

{% block body %}
    <h1>Create new NinPersonne</h1>

    {{ include('nin_personne/_form.html.twig') }}

    <a href="{{ path('app_nin_personne_index') }}">back to list</a>
{% endblock %}
