{% extends 'base.html.twig' %}

{% block title %}NinPersonne{% endblock %}

{% block body %}
    <h1>NinPersonne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nin_personne.id }}</td>
            </tr>
            <tr>
                <th>NinRaisonsociale</th>
                <td>{{ nin_personne.ninRaisonsociale }}</td>
            </tr>
            <tr>
                <th>NinSigle</th>
                <td>{{ nin_personne.ninSigle }}</td>
            </tr>
            <tr>
                <th>NinNom</th>
                <td>{{ nin_personne.ninNom }}</td>
            </tr>
            <tr>
                <th>NinPrenom</th>
                <td>{{ nin_personne.ninPrenom }}</td>
            </tr>
            <tr>
                <th>NinDatenaissance</th>
                <td>{{ nin_personne.ninDatenaissance ? nin_personne.ninDatenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NinLieunaissance</th>
                <td>{{ nin_personne.ninLieunaissance }}</td>
            </tr>
            <tr>
                <th>NinCni</th>
                <td>{{ nin_personne.ninCni }}</td>
            </tr>
            <tr>
                <th>NinDatecni</th>
                <td>{{ nin_personne.ninDatecni ? nin_personne.ninDatecni|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NinTelephone</th>
                <td>{{ nin_personne.ninTelephone }}</td>
            </tr>
            <tr>
                <th>NinEmail</th>
                <td>{{ nin_personne.ninEmail }}</td>
            </tr>
            <tr>
                <th>NinAdresse</th>
                <td>{{ nin_personne.ninAdresse }}</td>
            </tr>
            <tr>
                <th>NinVoie</th>
                <td>{{ nin_personne.ninVoie }}</td>
            </tr>
            <tr>
                <th>NinNumerovoie</th>
                <td>{{ nin_personne.ninNumerovoie }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ nin_personne.createdAt ? nin_personne.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nin_personne_index') }}">back to list</a>

    <a href="{{ path('app_nin_personne_edit', {'id': nin_personne.id}) }}">edit</a>

    {{ include('nin_personne/_delete_form.html.twig') }}
{% endblock %}
