{% extends '_porto_layout.html.twig' %}
{% block stylesheets %}

    <!-- DataTables -->
    <link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>

    <style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
      }
      
      .ui-autocomplete > li > div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
      }
      
      .ui-state-hover,
      .ui-state-active,
      .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
      }
      
      .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table.dataTable td {
        font-size: 0.6em;
      }

      table.dataTable tr.dtrg-level-0 td {
        font-size: 0.6em;
      }


      table td {
        font-size: 0.7em;
      }

      table tr.dtrg-level-0 td {
        font-size: 0.7em;
      }



    </style>


{% endblock %}

{% block body %}

        <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content rounded">
                <h4 class="heading-primary text-uppercase mb-md">E-NINEA - est le service en ligne qui fournit le NINEA.</h4>
            
                <div class="row align-items-center ">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        
                                        <div class="table-responsive">

                                            {% if articles|length == 0 %}

                                                <div class="row">
                                                    <div class="col-lg">
                                                        <div class="card">
                                                            <div class="row no-gutters justify-content-between">
                                                                <div class="col-md-12">
                                                                    <div class="card-body text-align-center">
                                                                        <p>Aucun résultat trouvé, grâce aux filtres de recherche, retrouvez n'importe quelle entreprise, association, ou service public.</p>
                                                                    </div>                                
                                                                </div>                                
                                                            </div>                                
                                                        </div>                                
                                                    </div>                                
                                                </div>                                
                                            {% else %}
                                        
                                            <table class="table table-hover table-sm m-0">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>NINEA</th>
                                                        <th>Document de création</th>
                                                        <th>Dénomination</th>
                                                        <!--th>Date de création</th-->
                                                        <th>Activité</th> 
                                                        <th>Statut juridique</th>                          
                                                        <!--th>Effectifs</th-->                          
                                                        <th>Adresse complète</th>                          
                                                        <!--th>Action</th-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for article in articles %}
                                                        <tr>
                                                        
                                                            <td>{{article.ninNINEA}}</td>
                                                            <td>{{article.ninNUMERODEDOCUMENT}}</td>
                                                            <td style=" word-break: break-all;">
                                                                {{article.ninRAISONSOCIALE}}
                                                            </td>
                                                                                            
                                                        

                                                            <td> 
                                                                {{article.ninACTIVITE}}
                                                            </td>

                                                            <td>
                                                                {{article.ninREGIMEJURIDIQUE}}                                        
                                                            </td>


                                                            <td>
                                                                {{article.ninADRESSE ~","}} {{article.ninVILLE}}                                        
                                                            </td>

                                                        
                                                                                            
                                                        </tr>

                                                    {% endfor %}                        
                                                </tbody>
                                            </table>

                                            {% endif %}
                                        </div>



                                    </div>
                                </div>
                            </div>

                    <!-- end row -->

                </div>
            </div>
        </div>



{% endblock %}

{% block javascript %}

    <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

    <script src="{{ asset( 'admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}} "></script><!-- Sweet alert init js-->
    <script src="{{ asset( 'admin/dist/assets/js/pages/sweet-alerts.init.js')}} "></script>
        
        <!-- App js -->

    <script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery.ui.autocomplete.scroll.min.js')}}"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {
            
            $(document).on('click', '.edit', function(event){
                //event.preventDefault();
    
                //console.log(event.target.id); return false;
    
                let elementId = event.target.id; let ninid = $(this).data('id');
    
                let link="";
                let paramValue=""; 
                let Urlroute="";
    
                // const $val = document.querySelector('#idenseigne').value;
    
                // If element has id
                if (elementId !== '') {
                    link = document.getElementById(elementId);
        
                    paramValue = link.getAttribute("data-param");
        
                    Urlroute = "{{ path('app_detail') }}" + "/" + paramValue;
                }
                // If element has no id
                else { 
                    Urlroute = "{{ path('app_detail') }}" + "/" + ninid;
                    console.log("An element without an id was clicked."+ninid);
                }   

                
                $.ajax({
                    type: "POST",
                    url: Urlroute,
                    //data: {nin_id: ninid},
                    dataType: "json",
                    contentType: false,
                    beforeSend: function() {
                        
                    },
                    success: function (data) 
                    {

                        if(data==0){						
                            //TODO afficher ici un prompt Swal avec un message aucune similitude 
                            
                            console.log('rien aa afficher ');                            

                            return false;
                        }else{
                            // todo affichage du modal dialogue                              
                            console.log('TODO affichage du modale dialog ');                            
                        }
                        
                    },
                    error: function (error) 
                    {

                        console.log(error);
                    }
                    
                });
            });        
        });

        /*function ficheEnterprise() { 
            // ici on met le detail de la fiche entreprise un tableau inside modal


            let Urlrte = "";

            var links = document.getElementsByClassName('edit');
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                var paramValue = link.getAttribute('data-param');
                
            }


            let Urlroute = "{{ path('app_detail') }}" + "/" + paramValue;

            console.log(Urlroute); return false;
            
            $.ajax({
                type: "GET",
                url: Urlroute,
                data: {
                    "course": $("#course").val(),
                    "semester": $("#sem").val(),
                    "year": $("#year").val(),
                },
                success: function(data) {
                    $("#display_table").html(data);
                }
            });
        }*/



        
        
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function ( a ) {
                if (a == null || a == "") {
                    return 0;
                }
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },
        
            "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
        
            "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }

        });

        $(".ninea").DataTable({
        
            "searching": true,
            "pageLength": 6,

            "order": [4, "asc" ],
            "columnDefs": [
            
                { type: 'date-uk', targets: 4 },
                { 
                    "targets": 0,
                    "sType": "string",
                }
            ],


            "sDom": 'f<"top">tip',
            "language": {

                "processing": "Traitement en cours...",

                "width": "100%",

                "lengthMenu": "Afficher _MENU_ ",

                "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

                "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

                "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

                "infoPostFix": "",

                "loadingRecords": "Chargement en cours...",

                "zeroRecords": "Rien &agrave; afficher",

                "emptyTable": "Aucune donnée disponible dans le tableau",

                "paginate": {

                    first: "Premier",

                    previous: "Pr&eacute;c&eacute;dent",

                    next: "Suivant",

                    last: "Dernier"

                },

            }
        });

    </script>
{% endblock %}