{% extends '_porto_layout.html.twig' %}
{% block body %}


    <div class="featured-box featured-box-primary align-left mt-xlg">
        <div class="box-content rounded">
						<div class="row">
							<div class="col-md-12 col-md-offset center">
								<h2 class="heading-dark mb-none">Accès illimité au <strong>répertoire des entreprises. </strong></h2>
								<h2 class="mb-xl">Que recherchez-vous ? </h2>

                                {{ form_start(form, {'attr': {'class' : 'form-horizontal', 'id': 'domainSearchForm'}}) }}
									<div class="form-group form-group-lg">
										<div class="col-sm-12">
											<div class="input-group">
                                                    <!--input type="text" class="form-control" id="userusername" placeholder="Entrer le numéro de dossier"-->
                                                    {{form_widget(form.query, {'attr': {'id': 'query', 'class':"form-control TXT", 'data-msg-required':"Please enter your term query."}})}}                                            
												<div class="input-group-btn">
                                                    {{ form_widget(form.submit, { 'label': 'Rechercher', 'attr':{'id':'tldBtn', 'class': 'btn btn-lg btn-primary mt-0 rounded'} }) }}
                                                    <!--button type="button" class="btn btn-success w-md">Connecter</button-->
												</div>
											</div>
										</div>
									</div>
									
                                {{ form_end(form) }}

							</div>
						</div>
            

        </div>
    </div>
   
     

{% endblock %}