    {#{ form_start(form) }#}
    <form action="{{ path('app_search_annuaire') }}" method="post" >
    <!--form id="searchForm" action="page-search-results.html" method="get"-->
        <div class="input-group">

                {{form_widget(form.query, {'id': 'query', class:"form-control TXT"})}}                                            
            <!--input type="text" class="form-control" name="q" id="q" placeholder="Recherche NINEA" required-->
            <span class="input-group-btn">
                {{ form_widget(form.submit, { 'label': 'Rechercher', 'id':'rechercheID' }) }}
                <!--button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button-->
            </span>
        </div>
    <!--/form-->
    {#{ form_end(form) }#}
    </form>
