{# templates/search/index.html.twig #}
{% extends '_porto_layout.html.twig' %}

{% block stylesheets %}

   <!-- DataTables -->
    <link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>


    <style>
    
    
        table.dataTable td {
            font-size: 0.7em;
        }

        table.dataTable tr.dtrg-level-0 td {
            font-size: 0.7em;
        }

</style>


    
{% endblock %}

{% block body %}


    <div class="featured-box featured-box-primary align-left mt-xlg">
        <div class="box-content rounded">

            <div class="row">
                <div class="col-md-12 col-md-offset center">
                    {{ form_start(form, {'attr': {'class' : 'form-horizontal', 'id': 'domainSearchForm'}}) }}
                        <div class="form-group form-group-lg">
                            <div class="col-sm-12">
                                <div class="input-group">
                                        <!--input type="text" class="form-control" id="userusername" placeholder="Entrer le numéro de dossier"-->
                                        {{form_widget(form.query, {'id': 'query', placeholder:"{{query}}", 'attr': { 'class':"form-control TXT"}})}}                                            
                                    <div class="input-group-btn">
                                        {{ form_widget(form.submit, { 'label': 'Rechercher', 'attr':{'id':'tldBtn', 'class': 'btn btn-lg btn-primary mt-0 rounded'} }) }}
                                        <!--button type="button" class="btn btn-success w-md">Connecter</button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {{ form_end(form) }}
                    <h2 class="mb-xl ">Résultats de la recherche pour <small class="badge bg-warning  text-muted">{{ query }}</small></h2>


                    <hr class="tail">


                    <div class="tab-pane box active table-responsive-lg" id="list" style="overflow-x:auto;">


                        {% if articles|length == 0 %}

                            <div class="row">
                                <div class="col-lg">
                                    <div class="card">
                                        <div class="row no-gutters justify-content-between">
                                            <div class="col-md-12">
                                                <div class="card-body text-align-center">
                                                    <p>Aucun résultat trouvé, grâce aux filtres de recherche, retrouvez n'importe quelle entreprise, association, ou service public.</p>
                                                </div>                                
                                            </div>                                
                                        </div>                                
                                    </div>                                
                                </div>                                
                            </div>                                
                        {% else %}
                            <div class="card ">
                                <div class="card-body">
                                    <div class="tab-pane box active table-responsive-lg" id="list" style="overflow-x:auto;">

                                        <table cellpadding="0" cellspacing="0" border="0"  class=" ninea table table-striped table-bordered dt-responsive table-striped table-hover  ">
                                            <thead class="tr_entete" >
                                                <tr>
                                                    
                                                    <th>NINEA</th>
                                                    <th>Document</th>
                                                    <th>Dénomination</th>
                                                    <th>Date</th>
                                                    <th>Activité</th> 
                                                    <th>Statut juridique</th>                          
                                                    <!--th>Effectifs</th-->                          
                                                    <th>Adresse</th>                          
                                                </tr>
                                            </thead>

                                            <tbody>
                                                    {% for article in articles %}
                                                        <tr>
                                                        
                                                            <td>
                                                                <a href="#" type="bouton">{{article.ninNINEA}}</a>
                                                            </td>
                                                            <td>{{article.ninNUMERODEDOCUMENT}}</td>
                                                            <td style=" word-break: break-all;">
                                                                {{article.ninRAISONSOCIALE}}
                                                            </td>
                                                                                            
                                                        
                                                            <td style=" word-break: break-all;">
                                                            {{ article.createdAt|date('d-m-Y', 'Europe/Paris') }}                                            
                                                            </td>

                                                            <td> 
                                                                {{article.ninACTIVITE}}
                                                            </td>

                                                            <td>
                                                                {{article.ninREGIMEJURIDIQUE}}                                        
                                                            </td>


                                                            <td>
                                                                {{article.ninADRESSE ~","}} {{article.ninVILLE}}                                        
                                                            </td>

                                                                                            
                                                        </tr>

                                                    {% endfor %}                        
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascript %}


    <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

        
        <!-- App js -->

    <script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>


    <script type="text/javascript">

        $(document).ready(function (e) {
            
            $(document).on('click', '.edit', function(event){
                //event.preventDefault();
    
                //console.log(event.target.id); return false;
    
                let elementId = event.target.id; let ninid = $(this).data('id');
    
                let link="";
                let paramValue=""; 
                let Urlroute="";
    
                // const $val = document.querySelector('#idenseigne').value;
    
                // If element has id
                if (elementId !== '') {
                    link = document.getElementById(elementId);
        
                    paramValue = link.getAttribute("data-param");
        
                    Urlroute = "{{ path('app_detail') }}" + "/" + paramValue;
                }
                // If element has no id
                else { 
                    Urlroute = "{{ path('app_detail') }}" + "/" + ninid;
                    console.log("An element without an id was clicked."+ninid);
                }   

                
                $.ajax({
                    type: "POST",
                    url: Urlroute,
                    //data: {nin_id: ninid},
                    dataType: "json",
                    contentType: false,
                    beforeSend: function() {
                        
                    },
                    success: function (data) 
                    {

                        if(data==0){						
                            //TODO afficher ici un prompt Swal avec un message aucune similitude 
                            
                            console.log('rien aa afficher ');                            

                            return false;
                        }else{
                            // todo affichage du modal dialogue                              
                            console.log('TODO affichage du modale dialog ');                            
                        }
                        
                    },
                    error: function (error) 
                    {

                        console.log(error);
                    }
                    
                });
            });        
        });

        /*function ficheEnterprise() { 
            // ici on met le detail de la fiche entreprise un tableau inside modal


            let Urlrte = "";

            var links = document.getElementsByClassName('edit');
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                var paramValue = link.getAttribute('data-param');
                
            }


            let Urlroute = "{{ path('app_detail') }}" + "/" + paramValue;

            console.log(Urlroute); return false;
            
            $.ajax({
                type: "GET",
                url: Urlroute,
                data: {
                    "course": $("#course").val(),
                    "semester": $("#sem").val(),
                    "year": $("#year").val(),
                },
                success: function(data) {
                    $("#display_table").html(data);
                }
            });
        }*/
        
        
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function ( a ) {
                if (a == null || a == "") {
                    return 0;
                }
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },
        
            "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
        
            "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }

        });

        $(".ninea").DataTable({
        
            "searching": true,
            "pageLength": 6,

            "order": [4, "asc" ],
            "columnDefs": [
            
                { type: 'date-uk', targets: 4 },
                { 
                    "targets": 0,
                    "sType": "string",
                }
            ],


            "sDom": 'f<"top">tip',
            "language": {

                "processing": "Traitement en cours...",

                "width": "100%",

                "lengthMenu": "Afficher _MENU_ ",

                "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

                "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

                "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

                "infoPostFix": "",

                "loadingRecords": "Chargement en cours...",

                "zeroRecords": "Rien &agrave; afficher",

                "emptyTable": "Aucune donnée disponible dans le tableau",

                "paginate": {

                    first: "Premier",

                    previous: "Pr&eacute;c&eacute;dent",

                    next: "Suivant",

                    last: "Dernier"

                },

            }
        });

    </script>


{% endblock %}
